PyQt6==6.10.2
tantivy==0.25.1
requests==2.32.5
tqdm==4.67.3
colorama==0.4.6
openpyxl==3.1.5
packaging==26.0
python-docx==1.2.0
nicegui==3.8.0
supabase==2.28.0
python-dotenv==1.2.2
keyring==25.7.0
Pillow==12.1.1
numpy==2.4.3
