{
  "openapi": "3.1.0",
  "info": {
    "title": "GenizahSearch Research Actions",
    "version": "0.1.0",
    "description": "Read-only Cairo Genizah research pilot: discover features, search manuscripts, browse evidence, and find passage parallels."
  },
  "servers": [
    {
      "url": "https://genizahsearch.com/api/chatgpt"
    }
  ],
  "security": [],
  "paths": {
    "/capabilities": {
      "get": {
        "operationId": "getGenizahCapabilities",
        "summary": "Check available search modes and passage features once before research. Runtime errors remain authoritative.",
        "description": "Check available search modes and passage features once before research. Runtime errors remain authoritative.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capabilities"
                }
              }
            }
          },
          "default": {
            "description": "Request failed. Preserve HTTP status, error code, and Retry-After when available. Proxy errors may be non-JSON.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Suggested delay in seconds or HTTP date."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "operationId": "searchManuscripts",
        "summary": "Find phrases, titles, or shelfmarks. Start exact with limit 5. Browse promising results and preserve warnings. Fuzzy searches may exceed the client timeout.",
        "description": "Find phrases, titles, or shelfmarks. Start exact with limit 5. Browse promising results and preserve warnings. Fuzzy searches may exceed the client timeout.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Results"
                }
              }
            }
          },
          "default": {
            "description": "Request failed. Preserve HTTP status, error code, and Retry-After when available. Proxy errors may be non-JSON.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Suggested delay in seconds or HTTP date."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        }
      }
    },
    "/browse": {
      "get": {
        "operationId": "browseManuscriptPage",
        "summary": "Read a returned manuscript page locator before quoting or evaluating a match. Text may be only an automatic snippet.",
        "description": "Read a returned manuscript page locator before quoting or evaluating a match. Text may be only an automatic snippet.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Browse"
                }
              }
            }
          },
          "default": {
            "description": "Request failed. Preserve HTTP status, error code, and Retry-After when available. Proxy errors may be non-JSON.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Suggested delay in seconds or HTTP date."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "sys_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Copy locator.sys_id from a result."
          },
          {
            "name": "p_num",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Copy the one-based locator.p_num from a result."
          },
          {
            "name": "volume_ie",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Copy locator.volume_ie when present."
          },
          {
            "name": "text_cap",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "maximum": 10000,
              "default": 4000
            },
            "description": "Start with 4000 characters. A snippet remains a snippet even if not truncated."
          }
        ]
      }
    },
    "/parallels": {
      "post": {
        "operationId": "findPassageParallels",
        "summary": "Find character-level parallels for a passage or separate witnesses of one work. Always send method=passage. Inspect matches, filtered results, and warnings; scores are not probabilities.",
        "description": "Find character-level parallels for a passage or separate witnesses of one work. Always send method=passage. Inspect matches, filtered results, and warnings; scores are not probabilities.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Results"
                }
              }
            }
          },
          "default": {
            "description": "Request failed. Preserve HTTP status, error code, and Retry-After when available. Proxy errors may be non-JSON.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Suggested delay in seconds or HTTP date."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassageRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Locator": {
        "type": "object",
        "properties": {
          "sys_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume_ie": {
            "type": [
              "string",
              "null"
            ]
          },
          "p_num": {
            "type": [
              "integer",
              "string",
              "null"
            ],
            "description": "One-based page number."
          },
          "uid": {
            "type": [
              "string",
              "null"
            ]
          },
          "fl_id": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": true
      },
      "Library": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Warning": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": true
          }
        },
        "required": [
          "error"
        ]
      },
      "Filters": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "works": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "materials": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "library": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Known library codes, e.g. CUL, JTS, Oxford. Never guess catalog filter values."
          },
          "library_filter_mode": {
            "type": "string",
            "enum": [
              "include",
              "exclude"
            ]
          },
          "date_from": {
            "type": "integer"
          },
          "date_to": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "ResponsaOptions": {
        "type": "object",
        "properties": {
          "variants": {
            "type": "boolean"
          },
          "ja": {
            "type": "boolean"
          },
          "flex_spacing": {
            "type": "boolean"
          },
          "bidirectional": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "search_mode": {
            "type": "string",
            "enum": [
              "exact",
              "variants",
              "fuzzy",
              "responsa",
              "title",
              "shelfmark"
            ],
            "description": "Start exact; shelfmark resolves call numbers. Variants/fuzzy can exceed the ChatGPT timeout; report failure honestly."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 5,
            "description": "Always send a small result limit to fit ChatGPT. This is not an exhaustive census."
          },
          "gap": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Words allowed between terms; must be zero for title/shelfmark."
          },
          "responsa_options": {
            "$ref": "#/components/schemas/ResponsaOptions",
            "description": "Omit unless search_mode is responsa."
          },
          "filters": {
            "$ref": "#/components/schemas/Filters"
          }
        },
        "required": [
          "query",
          "search_mode",
          "limit"
        ],
        "additionalProperties": false
      },
      "Witness": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "maxLength": 200
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "raw_header": {
            "type": "string",
            "description": "Exact header returned by a tool; never construct one from a UID or shelfmark."
          }
        },
        "additionalProperties": false,
        "oneOf": [
          {
            "required": [
              "text"
            ]
          },
          {
            "required": [
              "raw_header"
            ]
          }
        ]
      },
      "PassageRequest": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "passage"
            ],
            "description": "Required explicitly: the upstream default is chunk."
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "A meaningful passage. For longer input, label and search sections separately; never silently cut it."
          },
          "witnesses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Witness"
            },
            "minItems": 1,
            "maxItems": 3,
            "description": "Pilot limit: three witnesses of ONE work. Omit text when supplied. Keep witnesses separate."
          },
          "sort": {
            "type": "string",
            "enum": [
              "fused",
              "best_match",
              "witness_count"
            ],
            "description": "Only with witnesses; omit for a single text."
          },
          "filters": {
            "$ref": "#/components/schemas/Filters"
          }
        },
        "required": [
          "method"
        ],
        "additionalProperties": false,
        "oneOf": [
          {
            "required": [
              "text"
            ],
            "not": {
              "anyOf": [
                {
                  "required": [
                    "witnesses"
                  ]
                },
                {
                  "required": [
                    "sort"
                  ]
                }
              ]
            }
          },
          {
            "required": [
              "witnesses"
            ],
            "not": {
              "required": [
                "text"
              ]
            }
          }
        ]
      },
      "Match": {
        "type": "object",
        "properties": {
          "chunk_index": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source_chunk_text": {
            "type": "string"
          },
          "manuscript_snippet": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "Result": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "raw_header": {
            "type": "string"
          },
          "locator": {
            "$ref": "#/components/schemas/Locator"
          },
          "shelfmark": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "library": {
            "$ref": "#/components/schemas/Library"
          },
          "is_synthetic": {
            "type": "boolean"
          },
          "score": {
            "type": "number"
          },
          "snippet": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dating": {
            "type": [
              "string",
              "null"
            ]
          },
          "match_terms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "matches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Match"
            }
          },
          "witness_fusion": {
            "type": "object",
            "properties": {
              "witness_count": {
                "type": "integer"
              },
              "witness_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "fusion_score": {
                "type": "number"
              },
              "best_witness_score": {
                "type": "number"
              }
            },
            "additionalProperties": true
          }
        },
        "required": [
          "locator",
          "shelfmark",
          "snippet"
        ],
        "additionalProperties": true
      },
      "Results": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "generated_at": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Result"
            }
          },
          "filtered": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Result"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Warning"
            }
          },
          "request": {
            "type": "object",
            "properties": {},
            "description": "Effective request parameters and policy after defaulting/capping. Retain for reproducibility.",
            "additionalProperties": true
          }
        },
        "required": [
          "schema_version",
          "source",
          "generated_at",
          "count",
          "total",
          "results",
          "warnings",
          "request"
        ],
        "additionalProperties": true
      },
      "Browse": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "generated_at": {
            "type": "string"
          },
          "locator": {
            "$ref": "#/components/schemas/Locator"
          },
          "page_indexing": {
            "type": "string"
          },
          "shelfmark": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "library": {
            "$ref": "#/components/schemas/Library"
          },
          "is_synthetic": {
            "type": "boolean"
          },
          "text": {
            "type": "string"
          },
          "text_source": {
            "type": "string",
            "enum": [
              "pgp_transcription",
              "snippet",
              "none"
            ]
          },
          "text_truncated": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "image": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Warning"
            }
          }
        },
        "required": [
          "schema_version",
          "locator",
          "text",
          "text_source",
          "text_truncated",
          "warnings"
        ],
        "additionalProperties": true
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "integer"
          },
          "api_version": {
            "type": "string"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "search_modes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "features": {
            "type": "object",
            "properties": {
              "passage": {
                "type": "boolean"
              },
              "passage_multi_witness": {
                "type": "boolean"
              }
            }
          },
          "parallels": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "limits": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "timeouts": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "schema_version",
          "features",
          "search_modes"
        ],
        "additionalProperties": true
      }
    }
  }
}
